unvisited link
a:link{
	color: #FF0000; 
}
 visited link
a:visited{
	color: #00FF00; 
}
mouse over link
 a:hover{ 
	color: #FF00FF; 
}

body
{
    background-image: url('pic/rm255-sasi-06_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1
{
    background-color:#2B4025;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: linen;
}
h2
{
    background-color:#688C75;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: linen;
}

span
{
    background-color:maroon;
}

.stick
{
    position: fixed;
    top: -2%;
    width: 100%;
}

.cotent
{
    padding-top: 50px;
    padding-right: 100px;
}

table
{
    width: 30%;
    padding-left: 5%;
}
p
{
    padding-left: 2.5%;
}
th
{
    text-align: left;
    /* border: 1px solid black; */
}

#firstpic
{   
    width: 100%;
}
.wrapimge
{
    width: 250px;
    text-align: center;
    float: left; 
    margin: 10px;
}

.flex-container > div 
{
    width: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid  #68462e ;
    padding: 1%;
}

.flex-container 
{
    display: flex;
    flex-wrap: wrap;
}

.fixsize
{
    width: 40%;
    height: auto;
}

.grid-container
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
}

.grid-container > div
{
    /* border: 1px solid black; */
    text-align: left;
}

#test1
{
    grid-row: 1 / span 4;
}

#test2
{
    grid-column: 2 / span 3;
}

#test3
{
    /* grid-column: 2 / span 2; */    
}

#test4
{
    /* grid-column: 3 / span 3; */
    text-align: right;
}

#test5
{
    grid-column: 2 / span 3;
}

#test6
{
    grid-column: 2 / span 2;
}

#test7
{
    /* grid-column: 3 / span 3; */
    text-align: right;
}


#test8
{
    grid-column: 1 / span 4;
}

#test9
{
    grid-column: 1 / span 3;
}

#test10
{
    /*grid-column: 3 / span 3;*/
    text-align: right;
}

#test11
{
    /*grid-column: 2 / span 2;*/
}

@media only screen and (max-width: 767px)
{
    .grid-container
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
}

.grid-container > div
{
    /* border: 1px solid black;  */
    text-align: left;
}

#test1
{
    grid-row: 1 / span 2;
}

#test2
{
    grid-column: 2 / span 3;
}

#test3
{
    grid-column: 2 / span 2; 
}

#test4
{
    grid-column: 1 / span 4;
    text-align: center;
}

#test5
{
    grid-column: 1 / span 4;
}

#test6
{
    grid-column: 1 / span 4;
}

#test7
{
    grid-column: 1 / span 4;
    text-align: center;
}


#test8
{
    grid-column: 1 / span 4;
}

#test9
{
    grid-column: 1 / span 4;
}

#test10
{
    grid-column: 1 / span 4;
    text-align: center;
}

#test11
{
    grid-column: 1 / span 4;
}
}
